.btn {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
    border-radius: $border-radius;
    &-primary {
        height: 44px;
        background-color: $brand-primary;
        &:hover {
            background-color: darken($brand-primary,10);
        }
        &:active, &:focus {
            background-color: darken($brand-primary,15) !important;
        }
    }
    &--full-width {
        width: 100%;
    }
}

a {
    color: $brand-primary;
    font-weight: 500;
    &:visited {
        color: $brand-primary;
    }
    &:hover {
        color: darken($brand-primary,10);
        text-decoration: none;
    }
    &:active, &:focus {
        color: darken($brand-primary,15) !important;
        text-decoration: none;
    }
}
