@import "../variables";

html, body, #__next {
  height: 100%;
  width: 100%;
  background-color: $body-bg;
  overflow: hidden;
  font-family: OpenSans, serif;
  @include darkMode()
}

body.dark, body.dark #__next {
    background-color: $body-bg-dark;
}

$margin:0px;
$radius: 0;
.page-container {
  @include darkMode();
  background-color: $body-bg-inner;
  height: calc(100% - 0px);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: $margin;
  box-shadow: $shadow-color -1px 11px 20px 15px;;
  border-radius: $radius;
  display: flex;
  flex-direction: row;

  &__sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    border-radius: $radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $sidebar-background;
    align-items: center;
  }

  &__main {
    position: relative;
    left: $sidebar-width;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    .input-container {
      position: absolute;
      bottom: 8px;
      left: 8px;
      right: 16px;
      background-color: $input-background;
      height: 44px;
      border-radius: $border-radius;
      input {
        height: 100%;
        width: 100%;
        text-indent: 8px;
        background-color: transparent;
        border: none;
        outline: none !important;
        color: $label-color;
      }
      button {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }

  &__right-menu {
    right: 0;
    top: 0;
    bottom: 0;
    width: $rightmenu-width;
    background: $rightmenu-background;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  &__left-menu {
    min-width: $sidemenu-width;
    background: $sidemenu-background;
    padding: 16px 0 16px 16px;
    overflow-y: auto;
    box-shadow: $shadow-color -1px 11px 20px 0px;
    .room-name {
      @include darkMode();
      user-select: none;
      font-weight: 500;
      color: $label-color;
      cursor: pointer;
      line-height: 18px;
      padding: 8px;
      flex-wrap: nowrap;
      border-radius: $border-radius-small 0 0 $border-radius-small;
      .room-name-text {
        display: inline-block;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .icon-container {
        width: 18px;
        height: 18px;
        margin-right: 8px;

        svg {
          height: 17px;
          width: 18px;

          path {
            fill: $label-color;
          }
        }
      }
      background-color: transparent;

      &--active {
        background-color: $label-background-active;
        color: $label-color-active;

        svg path {
          fill: $label-color-active !important;
        }
      }

      &-voice--active {
        color: $brand-primary;
        background-color: transparent;
        svg path {
          fill: $brand-primary !important;
        }
      }
    }
  }
}

label.sidebar-label {
  user-select: none;
  text-transform: uppercase;
  color: $title-color;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
}

body.dark {
  label.sidebar-label {
    color: $title-color-dark;
  }
}


body.dark .page-container {
  background-color: $body-bg-inner-dark;
  box-shadow: $shadow-color-dark 1px 7px 4px 0px;
  &__sidebar {
    background-color: $sidebar-background-dark;
  }
  &__right-menu {
    background-color: $rightmenu-background-dark;
  }
  &__left-menu {
    box-shadow: $shadow-color-dark 1px 7px 4px 0px;
    background-color: $sidemenu-background-dark;
    .room-name {
      color: $label-color-dark;
      svg path {
        fill: $label-color-dark;
      }
      &--active {
        color: $label-color-active-dark;
        svg path {
          fill: $label-color-active-dark !important;
        }
      }
      &-voice--active {
        color: $brand-primary;
        background-color: transparent;
        svg path {
          fill: $brand-primary !important;
        }
      }
    }
  }
  &__main {
    .input-container {
      background-color: $input-background-dark;
      input {
        color: $label-color-dark;
      }
    }
  }
}
@import "../variables";

html, body, #__next {
  height: 100%;
  width: 100%;
  background-color: $body-bg;
  overflow: hidden;
  font-family: OpenSans, serif;
  @include darkMode()
}

body.dark, body.dark #__next {
    background-color: $body-bg-dark;
}

$margin:0px;
$radius: 0;
.page-container {
  @include darkMode();
  background-color: $body-bg-inner;
  height: calc(100% - 0px);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: $margin;
  box-shadow: $shadow-color -1px 11px 20px 15px;;
  border-radius: $radius;
  display: flex;
  flex-direction: row;

  &__sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    border-radius: $radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $sidebar-background;
    align-items: center;
  }

  &__main {
    position: relative;
    left: $sidebar-width;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    .input-container {
      position: absolute;
      bottom: 8px;
      left: 8px;
      right: 16px;
      background-color: $input-background;
      height: 44px;
      border-radius: $border-radius;
      input {
        height: 100%;
        width: 100%;
        text-indent: 8px;
        background-color: transparent;
        border: none;
        outline: none !important;
        color: $label-color;
      }
    }
  }

  &__right-menu {
    right: 0;
    top: 0;
    bottom: 0;
    width: $rightmenu-width;
    background: $rightmenu-background;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

label.sidebar-label {
  user-select: none;
  text-transform: uppercase;
  color: $title-color;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
}

body.dark {
  label.sidebar-label {
    color: $title-color-dark;
  }
}


body.dark .page-container {
  background-color: $body-bg-inner-dark;
  box-shadow: $shadow-color-dark 1px 7px 4px 0px;
  &__sidebar {
    background-color: $sidebar-background-dark;
  }
  &__right-menu {
    background-color: $rightmenu-background-dark;
  }
  &__left-menu {
    box-shadow: $shadow-color-dark 1px 7px 4px 0px;
    background-color: $sidemenu-background-dark;
    .room-name {
      color: $label-color-dark;
      svg path {
        fill: $label-color-dark;
      }
      &--active {
        color: $label-color-active-dark;
        svg path {
          fill: $label-color-active-dark !important;
        }
      }
      &-voice--active {
        color: white;
        background-color: transparent;
        svg path {
          fill: white !important;
        }
      }
    }
  }
  &__main {
    .input-container {
      background-color: $input-background-dark;
      input {
        color: $label-color-dark;
      }
    }
  }
}

.hidden-desktop {
  display: none;
}

@media only screen and (max-width: 800px) {
  .page-container__sidebar {
    display: none !important;
  }
  .hidden-desktop {
    display: flex;
  }
  .left-menu-active {
    .menu-right {
      display: none!important;;
    }
    .page-container__left-menu {
      z-index: 10000;
    }
  }
  .menu-right {
    height: 30px;
    cursor: pointer;
    z-index: 1000000;
    position: fixed;
    right: 10px;
    top: 10px;
    svg {
      width: 24px;
    }
  }
  .menu-left {
    cursor: pointer;
    z-index: 1000000;
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: $border-radius;
    background-color: rgba(0,0,0,.2);
    color: $brand-primary;
    svg {
      width: 14px;
    }
    &.active {
      left: auto;
      right: 0;
      background-color: transparent;
      svg {
        width: 24px;
      }
    }
  }
  .messages {
    top: 45px !important;
  }
  .page-container__left-menu, .page-container__right-menu {
    display: none;
    opacity: 0;
    padding: 16px;
    &.active {
      opacity: 1;
      position: fixed;
      display: block;
      width: 100%;
      top: 0;
      left:0;
      right: 0;
      bottom: 0;
    }
    .panel {
      margin: auto;
      max-width: 200px;
    }
    .user-list-panel {
      max-width: 100%;
      max-height: 50vh;
      height: 65vh;
      .user-list {
        max-height: calc(65vh);
      }
    }
  }
}

.menu-active {
 .page-container__main {
   filter: blur(4px);
 }
}

body.dark {
  .menu-left {
    color:  lighten($brand-primary, 5);;
  }
}
