@import "../variables";

html, body, #__next {
  height: 100%;
  width: 100%;
  background-color: $body-bg;
  overflow: hidden;
  font-family: OpenSans, serif;
  @include darkMode()
}

body.dark, body.dark #__next {
    background-color: $body-bg-dark;
}

$margin:0px;
$radius: 0;
.page-container {
  @include darkMode();
  background-color: $body-bg-inner;
  height: calc(100% - 0px);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: $margin;
  box-shadow: $shadow-color -1px 11px 20px 15px;;
  border-radius: $radius;
  display: flex;
  flex-direction: row;

  &__sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    border-radius: $radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $sidebar-background;
    align-items: center;
  }

  &__main {
    position: relative;
    left: $sidebar-width;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    .input-container {
      position: absolute;
      bottom: 8px;
      left: 8px;
      right: 16px;
      background-color: $input-background;
      height: 44px;
      border-radius: $border-radius;
      input {
        height: 100%;
        width: 100%;
        text-indent: 8px;
        background-color: transparent;
        border: none;
        outline: none !important;
        color: $label-color;
      }
    }
  }

  &__right-menu {
    right: 0;
    top: 0;
    bottom: 0;
    width: $sidemenu-width;
    background: $rightmenu-background;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  &__side-menu {
    width: $sidemenu-width;
    min-width: 180px;
    background: $sidemenu-background;
    padding: 16px 0 16px 16px;
    overflow-y: auto;
    box-shadow: $shadow-color -1px 11px 20px 0px;
    .room-name {
      @include darkMode();
      user-select: none;
      font-weight: 500;
      color: $label-color;
      cursor: pointer;
      line-height: 18px;
      padding: 8px;
      flex-wrap: nowrap;
      border-radius: $border-radius-small 0 0 $border-radius-small;
      span {
        display: inline-block;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .icon-container {
        width: 18px;
        height: 18px;
        margin-right: 8px;

        svg {
          height: 17px;
          width: 18px;

          path {
            fill: $label-color;
          }
        }
      }
      background-color: transparent;

      &--active {
        background-color: $label-background-active;
        color: $label-color-active;

        svg path {
          fill: $label-color-active !important;
        }
      }
    }

    label {
      user-select: none;
      text-transform: uppercase;
      color: $title-color;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 2px;
    }

  }
}


body.dark .page-container {
  background-color: $body-bg-inner-dark;
  box-shadow: $shadow-color-dark 1px 7px 4px 0px;
  &__sidebar {
    background-color: $sidebar-background-dark;
  }
  &__right-menu {
    background-color: $rightmenu-background-dark;
  }
  &__side-menu {
    box-shadow: $shadow-color-dark 1px 7px 4px 0px;
    label {
      color: $title-color-dark;
    }
    background-color: $sidemenu-background-dark;
    .room-name {
      color: $label-color-dark;
      svg path {
        fill: $label-color-dark;
      }
      &--active {
        color: $label-color-active-dark;
        svg path {
          fill: $label-color-active-dark !important;
        }
      }
    }
  }
  &__main {
    .input-container {
      background-color: $input-background-dark;
      input {
        color: $label-color-dark;
      }
    }
  }
}
