.panel {
  box-shadow: $shadow-color -1px 11px 20px 0px;
  background-color: $panel-background-color;
  border-radius: $border-radius;
  padding: 16px;
  .username {
    font-weight: 500;
  }
  svg {
    width: 16px;
    path {
      fill: $body-color;
    }
  }
}

body.dark {
  .panel {
    box-shadow: $shadow-color-dark -1px 11px 20px 0px;
    background-color: $panel-background-color-dark;
    path {
      fill: $body-color-dark;
    }
  }
}
